{% extends 'monApp/base.html' %}

{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}

{% block contenu %}
<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h4>Détail de la catégorie</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ cat.nomCat }}</h5>
        <ul class="list-unstyled">
            <li><strong>Référence :</strong> {{ cat.idCat }}</li>
            <li><strong>Nom catégorie :</strong> {{ cat.nomCat }}</li>
        </ul>
        <div class="car-footer text-center">
            <a href="{% url 'cat-chng' cat.idCat %}" class="btn btn-warning mt-2">Modifier</a>
            <a href="{% url 'dtl_cat' cat.idCat %}" class="btn btn-danger mt-2">Supprimer</a>
            <a href="{% url 'lst_cats'%}" class="btn btn-info mt-2">Retour</a>
        </div>
    </div>
</div>

{% endblock %}