{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>{{titremenu}}</h1>
{% endblock %}

{% block contenu %}
    <a href="{% url 'crt-cat' %}">Créer une nouvelle catégorie</a>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom catégorie</th>
        </thead>
        <tbody>
            {% for cat in cats %}
            <tr>
                <td><a href="{% url 'dtl_cat' cat.idCat %}">{{ cat.idCat }}</a></td>
                <td> {{cat.nomCat}} </td>
                <td><a href="{% url 'cat-chng' cat.idCat %}">modifier</a></td>
                <td><a href="{% url 'dlt_cat' cat.idCat %}">supprimer</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}