{% extends 'monApp/base.html' %}

{% block menu %}
    <h1> {{titremenu}} </h1>
{% endblock %}

{% block contenu %}
    <a href="{% url 'crt-stat' %}">Créer un nouveau statut</a>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom statut</th>
            <th>Nombre de Produits</th>
        </thead>
        <tbody>
            {% for statut in stats %}
            <tr>
                <td><a href="{% url 'dtl_stat' statut.idStatus %}">{{ statut.idStatus }}</a></td>
                <td> {{statut.libelleStatus}} </td>
                <td>{{ statut.nb_produits }}</td>
                <td>
                    <a href="{% url 'dtl_stat' statut.idStatus %}" class="btn btn-primary mt-2">Détails</a>
                    <a href="{% url 'stat-chng' statut.idStatus %}" class="btn btn-warning mt-2">modifier</a>
                    <a href="{% url 'dlt_stat' statut.idStatus %}" class="btn btn-danger mt-2">supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
            <!-- Barre de recherche -->
    <p class="lead mb-3 ml-0">Rechercher un élément...</p>
    <form method="GET" action="">
        <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche" value="{{ request.GET.search }}">
        <button type="submit" class="btn btn-success mt-2">Rechercher</button>
    </form>
{% endblock %}