{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>Liste des rayons</h1>
{% endblock %}

{% block contenu %}
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom rayon</th>
        </thead>
        <tbody>
            {% for rayon in rayons %}
            <tr>
                <td> {{rayon.idRayon}} </td>
                <td> {{rayon.nomRayon}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}