{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>{{titremenu}}</h1>
{% endblock %}

{% block contenu %}
    <a href="{% url 'crt-rayon' %}">Créer un nouveau rayon</a>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom rayon</th>
            <th>Valeur marchande du rayon</th>
        </thead>
        <tbody>
            {% for data in ryns_dt %}
            <tr>
                <td><a href="{% url 'dtl_rayon' data.rayon.idRayon %}">{{ data.rayon.idRayon }}</a></td>
                <td> {{ data.rayon.nomRayon }} </td>
                <td>{{ data.total_stock }} €</td>
                <td>
                    <a href="{% url 'dtl_rayon' data.rayon.idRayon %}" class="btn btn-primary mt-2">Détails</a>
                    <a href="{% url 'rayon-chng' data.rayon.idRayon %}" class="btn btn-warning mt-2">Modifier</a>
                    <a href="{% url 'dlt_rayon' data.rayon.idRayon %}" class="btn btn-danger mt-2">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}