{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>{{titremenu}}</h1>
{% endblock %}

{% block contenu %}
    <a href="{% url 'crt-cat' %}">Créer une nouvelle catégorie</a>
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom catégorie</th>
            <th>Nombre de Produits</th>
        </thead>
        <tbody>
            {% for cat in cats %}
            <tr>
                <td><a href="{% url 'dtl_cat' cat.idCat %}">{{ cat.idCat }}</a></td>
                <td> {{cat.nomCat}} </td>
                <td>{{ cat.nb_produits }} </td>
                <td>
                    <a href="{% url 'dtl_cat' cat.idCat %}" class="btn btn-primary mt-2">Détails</a>
                    <a href="{% url 'cat-chng' cat.idCat %}"class="btn btn-warning mt-2">Modifier</a>
                    <a href="{% url 'dlt_cat' cat.idCat %}"class="btn btn-danger mt-2">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
            <!-- Barre de recherche -->
    <p class="lead mb-3 ml-0">Rechercher un élément...</p>
    <form method="GET" action="">
        <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche" value="{{ request.GET.search }}">
        <button type="submit" class="btn btn-success mt-2">Rechercher</button>
    </form>
{% endblock %}